websocket-client
requests
matplotlib
numpy
websockets==10.4
pandas==2.2.2
numpy==1.26.4
requests==2.31.0
websocket-client
pandas
numpy
ta-lib
python-telegram-bot
requests
websocket-client
requests
matplotlib
numpy
mplfinance
